{% extends "base.html" %}
{% block title %}style 검색{% endblock %}
{% block content %}
{% load static %}
<div class="container-fluid" style="position: relative; z-index: 2;">
  <ul class="nav flex-column nav-tabs col-2">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Style</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Genre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Artist</a>
    </li>
  </ul>
</div>


<div class="container-fluid" style="position: relative; z-index: 1;  margin-top: -100px;">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <img
      class="rounded mx-auto d-block img-fluid"
      src="{% static 'img/file.png' %}" alt="">

    <input class= "d-block mx-auto" type="file" name="image" id="image" accept="image/*">

    <br>

    <div class="d-grid gap-2 col-2 mx-auto">
      <button class="btn btn-primary" type="submit" onclick="location='/style/result'">Upload</button>
    </div>
  </form>

  <br>

</div>
{% endblock %}